body{
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, #FDFFB6 18%);
}

.forms {
    display: flex;
    justify-content: space-around;
}

.form1 {
    float: left;
    text-align: center;
    border: 2px solid #ccc;
    height: 600px;
    width: 30%;
}
.try {
    float: left;
    height: auto;
    border: 2px solid green;
    width: 30%;
}
.form2 {
    float: left;
    border: 2px solid red;
    height: auto;
    width: 40%;
}

h1{
    font-size: xx-large;
    color: rgb(255, 0, 0);
    text-align:left;
    margin: 0%;
}

li{
    text-align:left;
}

.muestras{
    margin: 5px;
    padding: 5px;
    width:150px;
    height:100px;
}

.izquierda{
    float:left;
    padding-left: 5px;
    text-align: center;
}

.derecha{
    float:right;
    padding-right: 5px;
    text-align: center
}

.comentario{
    color:red;
}

.button{
    margin-left: 27%;
    margin-top: 10px;
    background-color: #BDB2FF;
    color: black;
    border: 5px solid #9BF6FF;
    font-size: 24px;
    width: 250px;
}

.button1{
    margin-left: 27%;
    margin-top: 10px;
    background-color: #BDB2FF;
    color: black;
    border: 5px solid red;
    width: 250px;
}